* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --nav-background-clr: #000;
    --nav-link-clr: #fffafa;
    --logo-text-color: #07f607;
    --hamburger-btn-clr: #07f607;
    
    /* fonts */;
    --nav-font-size: 1rem;

    /* utilities */
    --gap1: 1rem;
    --hamburger-transition: all .5s ease-in-out;
}

body {
    overflow: hidden;
}

header {
    background: var(--nav-background-clr);
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    max-width: 1400px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--nav-background-clr);
    padding: 0.75rem;
}

.nav-logo-text {
    color: var(--logo-text-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links {
    list-style-type: none;
    transition: var(--hamburger-transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 1;
    background: var(--nav-background-clr);
    height: 100vh;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    gap: 2rem;
    
}

.nav-link {
    text-decoration: none;
    color: var(--nav-link-clr);
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    /* outline: 3px solid red; */
}


.nav-link:hover {
    /* color: var(--logo-text-color);
    /* font-weight: bold; */
    text-decoration: underline; 
    /* background: white; */
    color: black;
}

.nav-link:focus {
    /* color: var(--logo-text-color); */
    outline: 3px dotted red;
    padding: 14px;
}

.nav-link:active {
    background: #494949;
}

.nav-link:visited {
    color: var(--nav-link-clr);
}

[aria-current=page] {
    color: var(--logo-text-color);
    border-left: 3px solid var(--logo-text-color);
    margin-left: 2rem;
}

/* hamburger button */
.hamburger {
    border: 1px solid transparent;
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.hamburger-line {
    height: 4px;
    background: var(--hamburger-btn-clr);
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: var(--hamburger-transition);
}

.hamburger-line::before,
.hamburger-line::after {
    height: 4px;
    width: 40px;
    background: var(--hamburger-btn-clr);
    position: absolute;
    border-radius: 3px;
    transition: var(--hamburger-transition);
}

.hamburger-line::before {
    content: '';
    transform: translateY(-10px);
}

.hamburger-line::after {
    content: '';
    transform: translateY(10px);
}

.hamburger-line.rotate::before {
    transform: rotate(45deg);
}

.hamburger-line.rotate::after {
    transform: rotate(-45deg);
}

.hamburger-line.rotate {
    background: transparent;
    transition: 0.1s;
}

/* open menu */
.nav-links.show-menu {
    transition: var(--hamburger-transition);
    transform: translateX(0);
}

@media screen and (min-width: 768px){
    .hamburger {
        display: none;
    }

    .nav {
        flex-direction: row;
        align-items: center;
    }

    .nav-links {
        transform: translateX(0);
        position: initial;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
    }

    [aria-current=page] {
        margin-left: 0;
        border-left: 0;
    }
}