:root {
    /* colors */
    --btn-bg-clr: blue;
    --btn-text-clr: #fff;
    --input-focus-clr: rgb(94, 94, 238);
    --valid: #008000;
    --error: #ff0000;
    --valid-input-bg-clr: #b5f3b5;

    /* fonts */;
    --input-font-size: 1rem;
    --label-font-size: 1rem;
    
    /* utilities */
    --input-padding: 0.6rem;
    --form-gap: 1rem;
}

.login-form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
}

.form-title {
    text-align: center;
    font-weight: bold;
}

.form-controls {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: var(--label-font-size);
}

.form-input {
    padding: var(--input-padding);
    font-size: var(--input-font-size);
}

.form-input:focus {
    outline-color: var(--input-focus-clr);
}

.form-input:invalid {
    border: 2px solid var(--error);
}

.form-input:valid:not(input[type="submit"]) {
    border: 2px solid var(--valid);
    background-color: var(--valid-input-bg-clr);
}

.password {
}

.honeypot {
    display: none;
}

.btn {
    padding: 0.6em 1.2em;
    background-color: var(--btn-bg-clr);
    color: var(--btn-text-clr);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    align-self: flex-start;
}

.btn:focus {
    outline: 4px dashed black;
}

.btn:hover {
    
}

.password-btn {
    display: inline-block;
    position: relative;
    top: -29px;
    align-self: flex-end;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding-right: 0.5rem;
    text-transform: uppercase;
}