:root {
    /* colors */
    --btn-bg-clr: blue;
    --btn-text-clr: #fff;
    --input-focus-clr: blue;
    --valid: #008000;
    --error: #ff0000;

    /* fonts */;
    --input-font-size: 1rem;
    --label-font-size: 1rem;
    
    /* utilities */
    --input-padding: 0.6rem;
    --form-gap: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
    max-width: 500px;
}

.form-controls {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    font-weight: bold;
}

.form-label {
    font-size: var(--label-font-size);
}

.form-input {
    padding: var(--input-padding);
    font-size: var(--input-font-size);
}

/* input:required {
    border: 2px solid;
} */

/* .form-input:-webkit-autofill {
    background: red;
} */

.form-input:focus {
    outline-color: var(--input-focus-clr);
}

.form-input:invalid {
    border: 2px solid var(--error);
}

.form-input:valid:not(input[type="submit"]) {
    border: 2px solid var(--valid);
}

.honeypot {
    display: none;
}

.btn {
    margin-right: auto;
    padding: 0.6em 1em;
    background-color: var(--btn-bg-clr);
    color: var(--btn-text-clr);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn:hover {
    
}